<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="PSE.BLL.WCF.Services.Implementations.ImageUtilityService">
        <host>
          <baseAddresses>
            <add baseAddress="http://psewcflocal" />
            <add baseAddress="net.tcp://psewcflocal" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" address="" contract="PSE.BLL.WCF.Contracts.Contracts.IImageUtilityService" />
 
        <!--<endpoint binding="netTcpBinding" address="" contract="PSE.BLL.WCF.Contracts.Contracts.IImageUtilityService"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://psewcflocal/ImageUtilityService.svc" binding="basicHttpBinding" contract="PSE.BLL.WCF.Contracts.Contracts.IImageUtilityService"></endpoint>
    </client>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <!--Configuration for deploying services to IIS-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
    <serviceActivations>
      <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="ImageUtilityService.svc" service="PSE.BLL.WCF.Services.Implementations.ImageUtilityService" />
    </serviceActivations>
    </serviceHostingEnvironment>
  <bindings>
    <netTcpBinding>
      <binding maxConnections="100"></binding>
    </netTcpBinding>
  </bindings>
  </system.serviceModel>
    <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--Application Settings-->
  <appSettings>
    <add key="DownloadFileLocation" value="C:\Images" />
    <add key="test" value="true" />
  </appSettings>
</configuration>